body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  z-index: 100;
  transition: height 0.5s, background-color 0.5s;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

li > a {
  padding: 0.2em 1em;
  text-decoration: none;
  border: 1px solid transparent;
  color: white;
  transition: border 0.7s;
}

@media screen and (min-width: 780px) {
  li > a:hover {
    border: 1px solid white;
  }
}

.select {
  border: 1px solid white;
}

/* スマートフォン用ナビメニューボタン */
input.sp-menu-open {
  display: none;
}

.sp-menu-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

.sp-menu-btn > span {
  width: 1.8em;
  height: 3px;
  border-radius: 3px;
  background: white;
}

.sp-menu-btn > span:before {
  content: '';
  transform: translateY(-8px);
  display: block;
  width: 1.8em;
  height: 3px;
  border-radius: 3px;
  background: white;
}

.sp-menu-btn > span:after {
  content: '';
  transform: translateY(5px);
  display: block;
  width: 1.8em;
  height: 3px;
  border-radius: 3px;
  background: white;
}
/* ここまでスマートフォン用ナビメニューボタン */


section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

section > .section-title {
  transform: translate(-20px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.section-title.fadein {
  transform: translateY(0);
  opacity: 1;
}

.section1 {
  /* margin-top: 60px; */
  /* padding-top: 60px; */
  background: linear-gradient(to top right, #b1d2f7, #0c1cac);
}

.section2 {
  background: linear-gradient(to top right, #fb9898, #8f0b0b);
}

.section3 {
  background: linear-gradient(to top right, #f3b3fa, #6e088c);
}

.section4 {
  background: linear-gradient(to top right, #b6f79b, #0f4208);
}

/* スクロール時に追加されるクラスのスタイル */
.sticky {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  /* border-bottom: 2px solid white; */
  /* z-index: 10; */
}

.to-top.appear {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
  /* z-index: 10; */
}

/* TOPへ戻るボタンスタイル */
.to-top {
  position: fixed;
  right: 50px;
  bottom: 30px;
  width: 44px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  /* z-index: -10; */
  transition: bottom 0.7s, opacity 0.7s, visibility 0.7s;
}

.to-top .top::after {
  position: absolute;
  content: '';
  top: 17px;
  left: 14px;
  width: 16px;
  height: 16px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
  box-sizing: border-box;
}

/* スマートフォン用メニュー */
div.sp-menu {
  position: fixed;
  top: 0;
  right: -252px;
  width: 250px;
  height: 100vh;
  border-left: 2px solid white;
  background: linear-gradient(to bottom right, #99a9ee, #01038f);
  z-index: 150;
  transition: right 0.3s;
}

.sp-menu-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s, visibility 0.5s;
}

div.sp-menu > label {
  display: inline-block;
  padding: 0.2em 1em;
  margin: 1em 0 0 1em;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  user-select: none;
}

div.sp-menu .sp-menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em 2em;
  text-align: center;
}

div.sp-menu .sp-menu-inner h3 {
  padding-bottom: 1em;
  color: white;
  border-bottom: 2px solid white;
}

div.sp-menu .sp-menu-inner > ul {
  padding: 0;
  flex-direction: column;
}

div.sp-menu .sp-menu-inner > ul > li {
  justify-content:center;
  margin-bottom: 1em;
}
/* ここまでスマートフォン用メニュー */

/* スマートフォン用メニュー機能 */
#sp-menu-open:checked ~ div.sp-menu {
  right: 0;
}

#sp-menu-open:checked ~ .sp-menu-wrapper{
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
